<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>profile</title>
</head>
<body>
    <div id="div"></div>
    <a href="/index" id="index"><h1>Delete Account</h1></a>
    <form action="/confirmDelete" method="post">
		<label for="">Enter password to confirm</label>
		<input type="password" name="pass" value="" required="">
		<input type="submit" name="delete" value="Confirm">
	</form>
</body>
</html>