<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>profile</title>
</head>
<body>
    <div id="div"></div>
    <a href="/index" id="index"><h1>reset password</h1></a>
    <form action="/reset" method="post">
		<label for="">Old Password:</label>
		<input type="password" name="pass" value="" required="">
		<label for="">New Password:</label>
		<input type="password" name="npass" value="" required>
		<label for="">Re-new Password:</label>
		<input type="password" name="rnpass" value="" required>
		<input type="submit" name="reset" value="reset">
	</form>
	
</body>
</html>