<!doctype html>
<html lang="en">
  <head>
    <title>LuxuryHotel a Hotel Template</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,700,900|Rubik:300,400,700" rel="stylesheet">

    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/animate.css">
    <link rel="stylesheet" href="css/owl.carousel.min.css">

    <link rel="stylesheet" href="fonts/ionicons/css/ionicons.min.css">
    <link rel="stylesheet" href="fonts/fontawesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/magnific-popup.css">
      <link rel="stylesheet" type="text/css" href="styles/bootstrap-4.1.2/bootstrap.min.css">
<link href="plugins/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" type="text/css" href="plugins/OwlCarousel2-2.3.4/owl.carousel.css">
<link rel="stylesheet" type="text/css" href="plugins/OwlCarousel2-2.3.4/owl.theme.default.css">
<link rel="stylesheet" type="text/css" href="plugins/OwlCarousel2-2.3.4/animate.css">
<link href="plugins/jquery-datepicker/jquery-ui.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" type="text/css" href="styles/contact.css">
<link rel="stylesheet" type="text/css" href="styles/contact_responsive.css">
    <!-- Theme Style -->
    <link rel="stylesheet" href="css/style.css">
  </head>
  <body>

    <header role="banner">

      <nav class="navbar navbar-expand-md navbar-dark bg-light">
        <div class="container">
          <a class="navbar-brand" href="/index">ROYAL BANGMOD HOTEL</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample05" aria-controls="navbarsExample05" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse navbar-light" id="navbarsExample05">
            <ul class="navbar-nav ml-auto pl-lg-5 pl-0">
              <li class="nav-item">
                <a class="nav-link active" href="/index">HOME</a>
              </li>

              <li class="nav-item">
                <a class="nav-link" href="/index">BOOKING</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/Meeting">MEETING & EVENT</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/Offer">OFFERS</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/RoomService">ROOM SERVICE</a>
              </li>

              <li class="nav-item">
                <a class="nav-link" href="/contact">CONTACT</a>
              </li>

               <li class="nav-item">
                <a class="nav-link" href="/MyAccount">|   PROFILE</a>
              </li>
               <li class="nav-item">
                <a class="nav-link" href="/logout"><o>LOGOUT</o></a>
              </li>
            </ul>

          </div>
        </div>
      </nav>
    </header>
    <!-- END header -->

    <section class="section-cover" data-stellar-background-ratio="0.01" style="background-image: url(images/a1a8429.jpg);">
    </section>
    <!-- END section -->


    <!-- Contact -->

  <div class="contact">
    <div class="container">
      <div class="row">

        <!-- Contact Content -->
        <div class="col-lg-6">
          <div class="contact_content">
            <div class="contact_title"><h2>Get in touch</h2></div>
            <div class="contact_list">
              <ul>
                <li>Main Str, no 253, New York, NY</li>
                <li>+546 990221 123</li>
                <li>music@contact.com</li>
              </ul>
            </div>
            <div class="contact_form_container">
              <form action="#" class="contact_form" id="contact_form">
                <div class="row">
                  <div class="col-md-6 input_container">
                    <input type="text" class="contact_input" placeholder="Your name" required="required">
                  </div>
                  <div class="col-md-6 input_container">
                    <input type="email" class="contact_input" placeholder="Your email address" required="required">
                  </div>
                </div>
                <div class="input_container"><input type="text" class="contact_input" placeholder="Subject"></div>
                <div class="input_container"><textarea class="contact_input contact_textarea" placeholder="Message" required="required"></textarea></div>
                <button class="contact_button">Send</button>
              </form>
            </div>
          </div>
        </div>

        <!-- Google Map -->
        <div class="col-xl-5 col-lg-6 offset-xl-1">
          <div class="contact_map">

            <!-- Google Map -->

            <div class="map">
              <div id="google_map" class="google_map">
                <div class="map_container">
                  <div id="map"></div>
                </div>
              </div>
            </div>

          </div>
        </div>

      </div>
    </div>
  </div>

  <footer class="site-footer">
    <div class="container">
      <div class="row mb-5">
        <div class="col-md-4">
          <h3>Phone Support</h3>
          <p>Call us now.</p>
          <p class="lead"><a href="tel://">+66 623 292 526</a></p>
        </div>
        <div class="col-md-4">
          <h3>Connect With Us</h3>
          <p>We are socialized. Follow us</p>
          <p>
            <a href="#" class="pl-0 p-3"><span class="fa fa-facebook"></span></a>
            <a href="#" class="p-3"><span class="fa fa-twitter"></span></a>
            <a href="#" class="p-3"><span class="fa fa-instagram"></span></a>
            <a href="#" class="p-3"><span class="fa fa-vimeo"></span></a>
            <a href="#" class="p-3"><span class="fa fa-youtube-play"></span></a>
          </p>
        </div>
        <div class="col-md-4">
          <h3>Connect With Us</h3>
          <p>Hello world team.</p>
          <form action="#" class="subscribe">
            <div class="form-group">
              <button type="submit"><span class="ion-ios-arrow-thin-right"></span></button>
              <input type="email" class="form-control" placeholder="Enter email">
            </div>

          </form>
        </div>
      </div>
  </footer>
  <!-- END footer -->

    <!-- loader -->
    <div id="loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee"/><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#f4b214"/></svg></div>

    <script src="js/jquery-3.2.1.min.js"></script>
    <script src="js/jquery-migrate-3.0.0.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/jquery.waypoints.min.js"></script>
    <script src="js/jquery.stellar.min.js"></script>

    <script src="js/jquery.magnific-popup.min.js"></script>
    <script src="js/magnific-popup-options.js"></script>

    <script src="js/main.js"></script>

    <script src="js2/jquery-3.3.1.min.js"></script>
<script src="styles/bootstrap-4.1.2/popper.js"></script>
<script src="styles/bootstrap-4.1.2/bootstrap.min.js"></script>
<script src="plugins/greensock/TweenMax.min.js"></script>
<script src="plugins/greensock/TimelineMax.min.js"></script>
<script src="plugins/scrollmagic/ScrollMagic.min.js"></script>
<script src="plugins/greensock/animation.gsap.min.js"></script>
<script src="plugins/greensock/ScrollToPlugin.min.js"></script>
<script src="plugins/OwlCarousel2-2.3.4/owl.carousel.js"></script>
<script src="plugins/easing/easing.js"></script>
<script src="plugins/progressbar/progressbar.min.js"></script>
<script src="plugins/parallax-js-master/parallax.min.js"></script>
<script src="plugins/jquery-datepicker/jquery-ui.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&key=AIzaSyCIwF204lFZg1y4kPSIhKaHEXMLYxxuMhA"></script>
<script src="js2/contact.js"></script>
  </body>
</html>
